@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 
style for flasscard in home @tuhin
*/
.flip-front {
  transform-origin: center center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform 0.5s ease-in-out;
}

.flip-back {
  transform-origin: center center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 0.5s ease-in-out;
}

.hover .flip-front {
  transform: rotateY(180deg);
}

.hover .flip-back {
  transform: rotateY(0deg);
}
/* flascard style ends */
